<app-header-manu></app-header-manu>
<div class="main_patch-left white"></div>
<div class="main_patch-right white"></div>
<div class="single_book_wrapper" *ngIf="book">
  <div class="single_book-picture">
      <img [src]="'../../assets/images/'+book.imageUrl"/>
  </div>
  <div class="single_book_info">
  <div class="single_book_title"><h1>{{book.title}}</h1></div>
  <div class="single_book_author">{{book.author}}</div>
  <div class="single_book_description">{{book.description}}</div>
    <div class="price_info">
  <div class="single_book_price">{{book.price}}</div>
  <div class="single_book_buy">
    <button type="button">Купить</button>
  </div>
  </div>
  </div>
</div>
<div class="book_question">
  <app-text-questions></app-text-questions>
</div>
