<app-header-manu [isDarkPage]="true"></app-header-manu>
<div class="main_patch-left blue"></div>
<div class="main_patch-right blue"></div>
<div class="main_wrapper">
<!--  <div class="background_img">-->
  <div class="intellectual-search-container">
  <div class="main_title-container">
    <div class="main_title">
      <h1>Подберите наиболее интересную книгу для себя</h1>
      <h2>Мгновенный подбор книги по вашему описанию</h2>
    </div>
  </div>

  <div class="textarea_container">
  <app-text-field></app-text-field>
  </div>
</div>
    <div class="traditional_flow-wrapper">
      <div class="traditional_flow-header">
        <h1>Или воспользуйтесь традиционным функционалом</h1>
      </div>
      <div class="app-search_wrapper">
      <app-search></app-search>
      </div>

<div class="categories_wrapper">
      <div id="top_books_header">
        <h1>Новинки</h1>
      </div>

      <div class="categories_flex_wrapper">
        <div class="single-category_wrapper">
         <div class="book_image">
           <img src="../../assets/images/3.jpg"/>
         </div>
          <div class="book_info_wrapper">
          <div class="book_name">
            Супер книга
          </div>
          <div class="book_author">
            Автор А. В.
          </div>
          </div>
          <div class="book_footer">
            <div class="book_price">200</div>
            <button class="buy_book">Купить</button>
          </div>
        </div>

        <div class="single-category_wrapper">
          <div class="book_image">
            <img src="../../assets/images/3.jpg"/>
          </div>
          <div class="book_info_wrapper">
            <div class="book_name">
              Супер книга
            </div>
            <div class="book_author">
              Автор А. В.
            </div>
          </div>
          <div class="book_footer">
            <div class="book_price">200</div>
            <button class="buy_book">Купить</button>
          </div>
        </div>

        <div class="single-category_wrapper">
          <div class="book_image">
            <img src="../../assets/images/3.jpg"/>
          </div>
          <div class="book_info_wrapper">
            <div class="book_name">
              Супер книга
            </div>
            <div class="book_author">
              Автор А. В.
            </div>
          </div>
          <div class="book_footer">
            <div class="book_price">200</div>
            <button class="buy_book">Купить</button>
          </div>
        </div>


        <div class="single-category_wrapper">
          <div class="book_image">
            <img src="../../assets/images/3.jpg"/>
          </div>
          <div class="book_info_wrapper">
            <div class="book_name">
              Супер книга
            </div>
            <div class="book_author">
              Автор А. В.
            </div>
          </div>
          <div class="book_footer">
            <div class="book_price">200</div>
            <button class="buy_book">Купить</button>
          </div>
        </div>

      </div>
    </div>

    <footer>
      <div class="footer-main_page">
        <div class="footer_list">
          <span class="footer_list_item">Контакты</span>
          <span class="footer_list_item">Пользовательское соглашение</span>
          <span class="footer_list_item">О нас</span>
        </div>
      </div>
    </footer>

  </div>


</div>
<!--</div>-->
