@import '../../assets/styles/variables';



.background_img {
  width: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/images/homepage-hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -100px;
}



.main_title-container {
  padding-top: 100px;
  min-height: 200px;
  color: @White;
  text-align: left;
  margin-left: 42px;
  margin-bottom: 150px;
}

.main_title {
  max-width: 400px;
}

.textarea_container {
  top: 100px;
  position: absolute;
}
.match_form {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.intellectual-search-container {
  display: flex;
}

.traditional_flow-wrapper {
  margin-top: 80px;
  .traditional_flow-header {
    margin: 0 auto;
    height: 100px;
    max-width: 1000px;
    h1 {
      color: @DarkFontColor;
      text-align: center;
    }

  }

  .category_name {
    font-size: 20px;

  }

  .app-search_wrapper {
    margin-left: 30px;
  }

}
.book_image img {
  height: 300px;
  width: 200px;
}

.footer-main_page {
  background-color: @DarkBlue;
  padding-top: 40px;
  height:100px;
  width: 100%;

  .footer_list {
    display: flex;
    justify-content: space-between;
    height: 20px;
    max-width: 500px;
    margin: 0 auto;
    .footer_list_item {
      display: block;
      color: @White;
    }
  }
}

@media (min-width: 1466px ) {
  .background_img {
    background-image: url("../../assets/images/homepage-hero-bg-xl.png");
  }
}
