<app-header-manu></app-header-manu>
<div class="main_patch-left"></div>
<div class="main_patch-right"></div>
<div class="sign_up_wrapper">

  <ng-container *ngIf="step === 1">
  <div class="sign_up_header">
    <h1>Регистрация</h1>
  </div>
  <div class="form_wrapper">
    <form [formGroup]="form" class="sign_up_form">
      <div class="input_wrapper">
        <input name="name" formControlName="userName" class="sign_up_input" placeholder="Логин"/>
      <input  name="firstName" formControlName="firstName" class="sign_up_input" placeholder="Имя"/>
      <input  name="lastName" formControlName="lastName" class="sign_up_input" placeholder="Фамилия"/>
      <input  name="email" formControlName="email" class="sign_up_input" placeholder="Email"/>
      <input name="password" formControlName="password" class="sign_up_input" placeholder="Пароль"/>
        <div class="button_wrapper">
        <button type="submit" (click)="onReg()">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </div>
  </ng-container>

  <ng-container *ngIf = 'step === 2'>
    <div class="sign_up_header">
      <h1>Успешно!</h1>
      <h2>Вы успешно зарегистировались! Проверьте почту и подтвердите свой адрес.</h2>
    </div>
  </ng-container>
</div>
